<div class="nk-content-body">
    <div class="nk-block-head nk-block-head-sm">
        <!-- <div class="nk-block-head-sub"><a class="back-to" href="html/components.html"><em
                    class="icon ni ni-arrow-left"></em><span>Components</span></a></div> -->


        <div class="nk-block nk-block-lg">
            <div class="nk-block-head">
                <div class="nk-block-head-content d-flex justify-content-between">
                    <div>
                        <h4 class="nk-block-title">LISTE DES PRODUITS</h4>
                        <p>Le tableau suivant liste <strong class="text-primary">les differents produits et leurs
                                differentes
                                operations</strong>.</p>
                        <div>
                            <nav>
                                <ul class="breadcrumb breadcrumb-arrow">
                                    <li class="breadcrumb-item"><a [routerLink]="['/dashboard']">Tableau de bord</a>
                                    </li>
                                    <li class="breadcrumb-item active">Produits
                                    </li>
                                </ul>
                            </nav>
                        </div>
                    </div>
                </div>
                <div class="d-flex flex-row-reverse flex-item justify-content-between">
                    <li class="nk-block-tools-opt">
                        <a [routerLink]="['/produits/ajouter']" class="btn btn-primary d-none d-md-inline-flex"><em
                                class="icon ni ni-plus"></em><span>Ajouter produit</span></a>
                    </li>
                </div>
            </div>

            <div class="card card-bordered card-preview">
                <div class="card-inner">
                    <div id="DataTables_Table_0_wrapper" class="dataTables_wrapper dt-bootstrap4 no-footer">
                        <div class="row justify-between g-2">
                            <div class="col-7 col-sm-4 text-start">
                                <div id="DataTables_Table_0_filter" class="dataTables_filter">
                                    <label>
                                        <input (keyup)="search($event)" type="search"
                                            class="form-control form-control-sm" placeholder="Rechercher"
                                            aria-controls="DataTables_Table_0">
                                    </label>
                                </div>
                            </div>
                            <div class="col-5 col-sm-8 text-end">
                                <div class="datatable-filter">
                                    <div class="d-flex justify-content-end g-2">
                                        <div class="dataTables_length" id="DataTables_Table_0_length">
                                            <label>
                                                <span class="d-none d-sm-inline-block">Voir</span>
                                                <div class="form-control-select">
                                                    <select name="DataTables_Table_0_length"
                                                        aria-controls="DataTables_Table_0"
                                                        class="custom-select custom-select-sm form-control form-control-sm"
                                                        (change)="onChangeSize($event)">
                                                        <option value="5">5</option>
                                                        <option value="10">10</option>
                                                        <option value="25">25</option>
                                                        <option value="50">50</option>
                                                    </select>
                                                </div>
                                            </label>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="datatable-wrap my-3">
                            <table class="table dataTable no-footer dtr-inline" id="DataTables_Table_0">
                                <thead>
                                    <tr>

                                        <th aria-controls="DataTables_Table_0" class="nk-tb-col" rowspan="1"
                                            colspan="1">Nom</th>
                                        <th aria-controls="DataTables_Table_0" class="nk-tb-col tb-col-lg" rowspan="1"
                                            colspan="1">Famille</th>
                                        <th aria-controls="DataTables_Table_0" class="nk-tb-col tb-col-sm" rowspan="1"
                                            colspan="1">Dosage</th>
                                        <th aria-controls="DataTables_Table_0" class="nk-tb-col tb-col-lg" rowspan="1"
                                            colspan="1">Categorie</th>
                                        <th aria-controls="DataTables_Table_0" class="nk-tb-col tb-col-xxl" rowspan="1"
                                            colspan="1">Forme</th>
                                        <th aria-controls="DataTables_Table_0" class="nk-tb-col tb-col-xxl" rowspan="1"
                                            colspan="1">Prix d'achat</th>
                                        <th aria-controls="DataTables_Table_0" class="nk-tb-col" rowspan="1"
                                            colspan="1">Prix de vente</th>
                                        <th aria-controls="DataTables_Table_0" class="nk-tb-col " rowspan="1"
                                            colspan="1">Action</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr
                                        *ngFor="let produit of data | paginate: { id: 'produit', itemsPerPage: pageSize, currentPage: page+1, totalItems: collectionSize } ; let i=index ">

                                        <td class="even nk-tb-col">
                                            <span class="title">{{produit?.dci}}</span>
                                        </td>
                                        <td class="odd nk-tb-col tb-col-lg">
                                            <span class="title">{{produit?.famille?.name}}</span>
                                        </td>
                                        <td class="odd nk-tb-col tb-col-sm">
                                            <span class="title">{{produit?.dosage}}</span>
                                        </td>
                                        <td class="odd nk-tb-col tb-col-lg">
                                            <span class="title">{{produit?.categorie}}</span>
                                        </td>
                                        <td class="odd nk-tb-col tb-col-xxl">
                                            <span class="title">{{produit?.forme}}</span>
                                        </td>
                                        <td class="odd nk-tb-col tb-col-xxl">
                                            <span class="title">{{produit?.pa}}</span>
                                        </td>
                                        <td class="odd nk-tb-col">
                                            <span class="title">{{produit?.pv}}</span>
                                        <td class="tb-tnx-action nk-tb-col tb-col">
                                            <div class="">
                                                <ul class="nk-tb-actions ">
                                                    <li class="me-n1">
                                                        <div class="dropdown">
                                                            <a href="#" class="dropdown-toggle btn btn-icon btn-trigger"
                                                                data-bs-toggle="dropdown"><em
                                                                    class="icon ni ni-more-h"></em></a>
                                                            <div class="dropdown-menu dropdown-menu-end">
                                                                <ul class="link-list-opt no-bdr">
                                            
                                                                    <li (click)="readOneProduit(produit)"><a
                                                                            data-bs-toggle="modal"
                                                                            data-bs-target="#modalTabs"><em
                                                                                class="icon ni ni-eye"></em><span>Voir
                                                                                Details</span></a></li>
                                                                    <li (click)="recupId(produit)"><a><em
                                                                                class="icon ni ni-edit"></em><span>Editer
                                                                            </span></a></li>
                                                                    <li (click)="deleteProduit(produit)"><a><em
                                                                                class="icon ni ni-trash"></em><span>Supprimer
                                                                            </span></a></li>
                                                                </ul>
                                                            </div>
                                                        </div>
                                                    </li>
                                                </ul>
                                            </div>
                                        </td>
                                    </tr>

                                </tbody>
                            </table>
                        </div>
                        <div class="pagination-container pagination">
                            <li> <pagination-controls [directionLinks]="true" id="produit" [autoHide]="true"
                                    (pageChange)="onPageChange($event)" class="bg-primary"></pagination-controls></li>
                        </div>
                        <!-- pagination -->
                        <!-- <div class="row align-items-center">
                            <div class="col-7 col-sm-12 col-md-9">
                                <div class="dataTables_paginate paging_simple_numbers" id="DataTables_Table_0_paginate">
                                    <ul class="pagination">
                                        <li class="paginate_button page-item previous disabled" id="DataTables_Table_0_previous"><a
                                                href="#" aria-controls="DataTables_Table_0" data-dt-idx="previous" tabindex="0"
                                                class="page-link">Prev</a></li>
                                        <li class="paginate_button page-item active"><a href="#" aria-controls="DataTables_Table_0"
                                                data-dt-idx="0" tabindex="0" class="page-link">1</a></li>
                                        <li class="paginate_button page-item "><a href="#" aria-controls="DataTables_Table_0"
                                                data-dt-idx="1" tabindex="0" class="page-link">2</a></li>
                                        <li class="paginate_button page-item "><a href="#" aria-controls="DataTables_Table_0"
                                                data-dt-idx="2" tabindex="0" class="page-link">3</a></li>
                                        <li class="paginate_button page-item "><a href="#" aria-controls="DataTables_Table_0"
                                                data-dt-idx="3" tabindex="0" class="page-link">4</a></li>
                                        <li class="paginate_button page-item "><a href="#" aria-controls="DataTables_Table_0"
                                                data-dt-idx="4" tabindex="0" class="page-link">5</a></li>
                                        <li class="paginate_button page-item disabled" id="DataTables_Table_0_ellipsis"><a href="#"
                                                aria-controls="DataTables_Table_0" data-dt-idx="ellipsis" tabindex="0"
                                                class="page-link">…</a></li>
                                        <li class="paginate_button page-item "><a href="#" aria-controls="DataTables_Table_0"
                                                data-dt-idx="11" tabindex="0" class="page-link">12</a></li>
                                        <li class="paginate_button page-item next" id="DataTables_Table_0_next"><a href="#"
                                                aria-controls="DataTables_Table_0" data-dt-idx="next" tabindex="0"
                                                class="page-link">Next</a></li>
                                    </ul>
                                </div>
                            </div>
                            <div class="col-5 col-sm-12 col-md-3 text-start text-md-end">
                                <div class="dataTables_info" >1 -10 of 100</div>
                            </div>
                        </div> -->
                        <!-- pagination -->
                    </div>

                </div>
            </div>

        </div>

    </div>
</div>


<div class="modal fade" tabindex="-1" role="dialog" id="modalTabs">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content" *ngIf="dataRead">
            <a href="#" class="close" data-bs-dismiss="modal"><em class="icon ni ni-cross-sm"></em></a>
            <div class="modal-body modal-body-md">
                <h4 class="title">Informations du produit</h4>
                <div class="nk-block">
                    <div class="card card-bordered">
                        <div class="card-aside-wrap">
                            <div class="card-content">
                                <div class="card-inner">
                                    <div class="nk-block">
                                        <!-- .nk-block-head -->
                                        <div class="row gy-3">
                                            <div class="col-md-4 col-lg-3 col-6">
                                                <div class="profile-stats">
                                                    <span class="profile-ud-label">DCI</span>
                                                    <span class="fw-bold">{{dataRead.dci}}</span>
                                                </div>
                                            </div>
                                            <div class="col-md-4 col-lg-3  col-6">
                                                <div class="profile-stats">
                                                    <span class="profile-ud-label">Famille</span>
                                                    <span class="fw-bold">{{dataRead.famille.name}}</span>
                                                </div>
                                            </div>
                                            <div class="col-md-4 col-lg-3  col-6">
                                                <div class="profile-stats">
                                                    <span class="profile-ud-label">Dosage</span>
                                                    <span class="fw-bold">{{dataRead.dosage}}</span>
                                                </div>
                                            </div>
                                            <div class="col-md-4 col-lg-3  col-6">
                                                <div class="profile-stats">
                                                    <span class="profile-ud-label">Categorie</span>
                                                    <span class="fw-bold">{{dataRead.categorie}}</span>
                                                </div>
                                            </div>
                                            <div class="col-md-4 col-lg-3  col-6">
                                                <div class="profile-stats">
                                                    <span class="profile-ud-label">Forme</span>
                                                    <span class="fw-bold">{{dataRead.forme}}</span>
                                                </div>
                                            </div>

                                        <!-- .nk-block -->
                                            
                                        </div><!-- .nk-block -->
                                        <div class="nk-divider divider md"></div>
                                        <div class="nk-block">
                                            <div class="nk-block-head nk-block-head-sm nk-block-between">
                                                <h5 class="title">Prix</h5>
                                            </div><!-- .nk-block-head -->
                                            <div class="row gy-3">
                                                <div class="col-md-5 col-sm-6">
                                                    <div class="profile-stats">
                                                        <span class="profile-ud-label">Prix d'achat</span>
                                                        <span class="amount">{{dataRead.pa }} CFA</span>
                                                    </div>
                                                </div>
                                                <div class="col-md-5 col-sm-6">
                                                    <div class="profile-stats">
                                                        <span class="profile-ud-label">Prix de vente</span>
                                                        <span class="amount">{{dataRead.pv }} CFA</span>
                                                    </div>
                                                </div>

                                            </div>
                                        </div><!-- .nk-block -->
                                    </div><!-- .card-inner -->
                                </div><!-- .card-content -->
                            </div><!-- .card-aside-wrap -->
                        </div><!-- .card -->
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>