<div class="nk-body ui-rounder npc-default has-sidebar ">
    <div class="nk-app-root">
        <div class="nk-sidebar" data-content="sidebarMenu">
            <div class="nk-sidebar-main is-light">
                <div class="nk-sidebar-inner">
                    <div class="">
                        <h5 class="title">Marie Bernard</h5>
                        <ul class="nk-menu">
                            <li class="nk-menu-item">
                                <a [routerLink]="['/dashboard']" class="nk-menu-link">
                                    <span class="nk-menu-icon"><em class="icon ni ni-dashboard-fill"></em></span>
                                    <span class="nk-menu-text ">Tableau de bord</span>
                                </a>
                            </li><!-- .nk-menu-item -->
                            <li class="nk-menu-item has-sub">
                                <a href="#" class="nk-menu-link nk-menu-toggle">
                                    <span class="nk-menu-icon"><em class="icon ni ni-bar-fill-c"></em></span>
                                    <span class="nk-menu-text">Ventes</span>
                                </a>
                                <ul class="nk-menu-sub">
                                    <li class="nk-menu-item">
                                        <a [routerLink]="['/ventes/commande/ajouter']" class="nk-menu-link"><span
                                                class="nk-menu-text">Ajouter Commande</span></a>
                                    </li>
                                    <li class="nk-menu-item">
                                        <a [routerLink]="['/ventes/commande/liste']" class="nk-menu-link"><span
                                                class="nk-menu-text">Liste des commandes </span></a>
                                    </li>
                                    <li class="nk-menu-item">
                                        <a [routerLink]="['/ventes/commande/reglement']" class="nk-menu-link"><span
                                                class="nk-menu-text">Reglement client</span></a>
                                    </li>
                                   
                                </ul><!-- .nk-menu-sub -->
                            </li><!-- .nk-menu-item -->
                            <li class="nk-menu-item has-sub">
                                <a href="#" class="nk-menu-link nk-menu-toggle">
                                    <span class="nk-menu-icon"><em class="icon ni ni-cart-fill"></em></span>
                                    <span class="nk-menu-text">Achats</span>
                                </a>
                                <ul class="nk-menu-sub">
                                    <li class="nk-menu-item">
                                        <a [routerLink]="['/achats/commande/ajouter']" class="nk-menu-link"><span
                                                class="nk-menu-text">Ajouter Commande</span></a>
                                    </li>
                                    <li class="nk-menu-item">
                                        <a [routerLink]="['/achats/commande/liste']"  class="nk-menu-link"><span
                                                class="nk-menu-text">Liste des commandes Fournisseur</span></a>
                                    </li>
                                    <li class="nk-menu-item">
                                        <a [routerLink]="['/achats/commande/reglement']"  class="nk-menu-link"><span
                                                class="nk-menu-text">Reglement fournisseur</span></a>
                                    </li>
                                    <!-- <li class="nk-menu-item">
                                        <a href="html/pharmacy/customer-ledger.html" class="nk-menu-link"><span
                                                class="nk-menu-text">Customer Ledger</span></a>
                                    </li> -->
                                </ul><!-- .nk-menu-sub -->
                            </li><!-- .nk-menu-item -->
                            <li class="nk-menu-item has-sub">
                                <a href="#" class="nk-menu-link nk-menu-toggle">
                                    <span class="nk-menu-icon"><em class="icon ni ni-capsule-fill"></em></span>
                                    <span class="nk-menu-text">Produits</span>
                                </a>
                                <ul class="nk-menu-sub">
                                    <li class="nk-menu-item">
                                        <a [routerLink]="['/produits/ajouter']" class="nk-menu-link"><span
                                                class="nk-menu-text">Ajouter un produit</span></a>
                                    </li>
                                    <li class="nk-menu-item">
                                        <a [routerLink]="['/produits/liste']" class="nk-menu-link"><span
                                                class="nk-menu-text">Liste des produits</span></a>
                                    </li>
                                    
                                </ul><!-- .nk-menu-sub -->
                            </li><!-- .nk-menu-item -->
                            <li class="nk-menu-item has-sub">
                                <a href="#" class="nk-menu-link nk-menu-toggle">
                                    <span class="nk-menu-icon"><em class="icon ni ni-home-fill"></em></span>
                                    <span class="nk-menu-text">Fournisseurs</span>
                                </a>
                                <ul class="nk-menu-sub">
                                    <li class="nk-menu-item">
                                        <a [routerLink]="['/fournisseurs/ajouter']" class="nk-menu-link"><span
                                                class="nk-menu-text">Ajouter un fournisseur</span></a>
                                    </li>
                                    <li class="nk-menu-item">
                                        <a [routerLink]="['/fournisseurs/liste']" class="nk-menu-link"><span
                                                class="nk-menu-text">Liste des fournisseurs</span></a>
                                    </li>
                                </ul><!-- .nk-menu-sub -->
                            </li><!-- .nk-menu-item -->
                            <!-- .nk-menu-item -->
                            <li class="nk-menu-item no-sub">
                                <a [routerLink]="['/patients/ajouter']"  class="nk-menu-link nk-menu-toggle">
                                    <span class="nk-menu-icon"><em class="icon ni ni-user-circle-fill"></em></span>
                                    <span class="nk-menu-text">Patients</span>
                                </a>
                                <!-- .nk-menu-sub -->
                            </li><!-- .nk-menu-item -->
                           <!-- .nk-menu-item -->
                            <!-- <li class="nk-menu-item has-sub">
                                <a href="#" class="nk-menu-link nk-menu-toggle">
                                    <span class="nk-menu-icon"><em class="icon ni ni-coin-alt-fill"></em></span>
                                    <span class="nk-menu-text">Finances</span>
                                </a>
                                <ul class="nk-menu-sub">
                                    <li class="nk-menu-item">
                                        <a href="html/pharmacy/income-list.html" class="nk-menu-link"><span
                                                class="nk-menu-text">Income</span></a>
                                    </li>
                                    <li class="nk-menu-item">
                                        <a href="html/pharmacy/expense-list.html" class="nk-menu-link"><span
                                                class="nk-menu-text">Expence</span></a>
                                    </li>
                                    <li class="nk-menu-item">
                                        <a href="html/pharmacy/invoice-list.html" class="nk-menu-link"><span
                                                class="nk-menu-text">Invoice List</span></a>
                                    </li>
                                    <li class="nk-menu-item">
                                        <a href="html/pharmacy/invoice-details.html" class="nk-menu-link"><span
                                                class="nk-menu-text">Invoice Details</span></a>
                                    </li>
                                </ul>
                            </li> -->
                            <!-- .nk-menu-item -->
                            <li class="nk-menu-item has-sub">
                                <a href="#" class="nk-menu-link nk-menu-toggle">
                                    <span class="nk-menu-icon"><em class="icon ni ni-growth-fill"></em></span>
                                    <span class="nk-menu-text">stocks</span>
                                </a>
                                <ul class="nk-menu-sub">
                                    <li class="nk-menu-item">
                                        <a [routerLink]="['stocks/transfert']" class="nk-menu-link"><span
                                                class="nk-menu-text">Transfert de stock</span></a>
                                    </li>
                                    <li class="nk-menu-item">
                                        <a [routerLink]="['stocks/liste']" class="nk-menu-link"><span
                                                class="nk-menu-text">Article en stock</span></a>
                                    </li>
                                    <li class="nk-menu-item">
                                        <a [routerLink]="['stocks/ajouter']" class="nk-menu-link"><span
                                                class="nk-menu-text">Entrée en stock</span></a>
                                    </li>
                                    <li class="nk-menu-item">
                                        <a [routerLink]="['stocks/mouvement']" class="nk-menu-link"><span
                                                class="nk-menu-text">Mouvement de Stock</span></a>
                                    </li>
                                </ul><!-- .nk-menu-sub -->
                            </li><!-- .nk-menu-item -->
                            <li class="nk-menu-item has-sub">
                                <a href="#" class="nk-menu-link nk-menu-toggle">
                                    <span class="nk-menu-icon"><em class="icon ni ni-user-alt-fill"></em></span>
                                    <span class="nk-menu-text">Utilisateurs</span>
                                </a>
                                <ul class="nk-menu-sub">
                                    <li class="nk-menu-item">
                                        <a [routerLink]="['/employes/ajouter']" class="nk-menu-link"><span
                                                class="nk-menu-text">Ajouter un utilisateur</span></a>
                                    </li>
                                    <li class="nk-menu-item">
                                        <a [routerLink]="['/employes/liste']"  class="nk-menu-link"><span
                                                class="nk-menu-text">Liste des utilisateurs</span></a>
                                    </li>
                                    <!-- <li class="nk-menu-item">
                                        <a href="html/pharmacy/invoice-list.html" class="nk-menu-link"><span
                                                class="nk_s-menu-text">Invoice List</span></a>
                                    </li>
                                    <li class="nk-menu-item">
                                        <a href="html/pharmacy/invoice-details.html" class="nk-menu-link"><span
                                                class="nk-menu-text">Invoice Details</span></a>
                                    </li> -->
                                </ul><!-- .nk-menu-sub -->
                            </li><!-- .nk-menu-item -->
                            <li class="nk-menu-item has-sub">
                                <a href="#" class="nk-menu-link nk-menu-toggle">
                                    <span class="nk-menu-icon"><em class="icon ni ni-opt-dot"></em></span>
                                    <span class="nk-menu-text">Parametrages</span>
                                </a>
                                <ul class="nk-menu-sub">
                                    <li class="nk-menu-item">
                                        <a [routerLink]="['/caisses']" class="nk-menu-link"><span
                                                class="nk-menu-text">Caisse</span></a>
                                    </li>
                                    <li class="nk-menu-item">
                                        <a [routerLink]="['/familles']" class="nk-menu-link"><span
                                                class="nk-menu-text">Famille</span></a>
                                    </li>
                                    <li class="nk-menu-item">
                                        <a [routerLink]="['/depots']" class="nk-menu-link"><span
                                                class="nk-menu-text">Depot</span></a>
                                    </li>
                                </ul><!-- .nk-menu-sub -->
                            </li><!-- .nk-menu-item -->
                            <!-- <li class="nk-menu-item">
                                <a href="html/pharmacy/support.html" class="nk-menu-link">
                                    <span class="nk-menu-icon"><em class="icon ni ni-msg-fill"></em></span>
                                    <span class="nk-menu-text">Notifications</span>
                                </a>
                            </li>
                            <li class="nk-menu-item">
                                <a href="html/pharmacy/general-settings.html" class="nk-menu-link">
                                    <span class="nk-menu-icon"><em class="icon ni ni-setting-fill"></em></span>
                                    <span class="nk-menu-text">Paramètres</span>
                                </a>
                            </li> -->
                        </ul><!-- .nk-menu -->
                    </div>
                </div>
            </div>
        </div>
        <!-- main @s -->
        <div class="nk-main ">
            <!-- wrap @s -->
            <div class="nk-wrap ">
                <!-- main header @s -->
                <div class="nk-header nk-header-fixed nk-header-fluid is-light">
                    <div class="container-fluid">
                        <div class="nk-header-wrap">
                            <div class="nk-menu-trigger d-xl-none ms-n1">
                                <a href="#" class="nk-nav-toggle nk-quick-nav-icon" data-target="sidebarMenu"><em
                                        class="icon ni ni-menu"></em></a>
                            </div>
                            <div class="nk-header-brand d-xl-none">

                                <a  class="logo-link">
                                    <img class="logo-light logo-img" src=""
                                        srcset="assets/images/pharmacie.png 2x" alt="logo">
                                    <img class="logo-dark logo-img" src="assets/images/pharmacie.png"
                                        srcset="assets/images/pharmacie.png 2x" alt="logo-dark">
                                </a>
                            </div><!-- .nk-header-brand -->
                            <!-- <div class="nk-header-search ms-3 ms-xl-0 d-none d-md-flex">
                                <em class="icon ni ni-search"></em>
                                <input type="text" class="form-control border-transparent form-focus-none"
                                    placeholder="Rechercher">
                            </div>.nk-header-news -->
                            <div class="nk-header-tools">
                                <ul class="nk-quick-nav">
                                    <!-- .dropdown -->
                                    <li class="dropdown user-dropdown">
                                        <a href="#" class="dropdown-toggle me-n1" data-bs-toggle="dropdown">
                                            <div class="user-toggle">
                                                <div class="user-avatar sm">
                                                    <em class="icon ni ni-user-alt"></em>
                                                </div>
                                               <span class="ucap text-secondary fw-bold text-muted ms-2">{{currentUser?.username}}</span> 
                                            </div>
                                        </a>
                                        <div class="dropdown-menu dropdown-menu-md dropdown-menu-end">
                                            <div class="dropdown-inner user-card-wrap bg-lighter">
                                                <div class="user-card">
                                                    <div class="user-avatar">
                                                        <span class="ucap">{{currentUser?.username[0]}}</span>
                                                    </div>
                                                    <div class="user-info">
                                                        <span class="lead-text">{{currentUser?.username}}</span>
                                                        <span class="sub-text">{{currentUser?.email}}</span>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="dropdown-inner">
                                                <ul class="link-list">
                                                    <li><a [routerLink]="['/utilisateur']"><em
                                                                class="icon ni ni-user-alt"></em><span>Voir Profil</span></a></li>
                                                    <li><a class="dark-switch" href="#"><em
                                                                class="icon ni ni-moon"></em><span>Mode Sombre</span></a>
                                                    </li>
                                                </ul>
                                            </div>
                                            <div class="dropdown-inner">
                                                <ul class="link-list">
                                                    <li><a href="" (click)="signOut()"><em
                                                                class="icon ni ni-signout"></em><span>Deconnexion</span></a>
                                                    </li>
                                                </ul>
                                            </div>
                                        </div>
                                    </li>
                                </ul>
                            </div>
                        </div><!-- .nk-header-wrap -->
                    </div><!-- .container-fliud -->
                </div>
                <!-- main header @e -->
                <!-- content @s -->
                <div class="nk-content ">
                    <div class="container-fluid">
                        <div class="nk-content-inner">
                            <div class="nk-content-body">
                                <router-outlet></router-outlet>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- content @e -->
            </div>
            <!-- wrap @e -->
        </div>
        <!-- main @e -->
    </div>
    <!-- app-root @e -->
</div>