<div class="nk-content-body">
    <div class="nk-block-head nk-block-head-sm">
        <div class="nk-block nk-block-lg">
            <div class="nk-block-head">
                <div class="nk-block-head-content d-flex justify-content-between">
                    <div>
                        <h4 class="nk-block-title">LISTE DES COMMANDES</h4>
                        <p>Le tableau suivant liste <strong class="text-primary">les differents commandes et leurs
                                differentes
                                operations</strong>.</p>
                        <div>
                            <nav>
                                <ul class="breadcrumb breadcrumb-arrow">
                                    <li class="breadcrumb-item"><a [routerLink]="['']">Tableau de bord</a>
                                    </li>
                                    <li class="breadcrumb-item active">Commandes
                                    </li>
                                </ul>
                            </nav>
                        </div>
                    </div>
                </div>
                <div class="d-flex flex-row-reverse flex-item justify-content-between">
                    <li class="nk-block-tools-opt">
                        <a [routerLink]="['/ventes/commande/ajouter']"
                            class="btn btn-primary d-none d-md-inline-flex"><em
                                class="icon ni ni-plus"></em><span>Ajouter commande</span></a>
                    </li>
                </div>
            </div>

            <div class="card card-bordered card-preview">
                <div class="card-inner">
                    <div id="DataTables_Table_0_wrapper" class="dataTables_wrapper dt-bootstrap4 no-footer">
                        <div class="row justify-between g-2">
                            <div class="col-7 col-sm-4 text-start">
                                <div id="DataTables_Table_0_filter" class="dataTables_filter">
                                    <label>
                                        <input (keyup)="search($event)" type="search" class="form-control form-control-sm" placeholder="Rechercher"
                                            aria-controls="DataTables_Table_0">
                                    </label>
                                </div>
                            </div>
                            <div class="col-5 col-sm-8 text-end">
                                <div class="datatable-filter">
                                    <div class="d-flex justify-content-end g-2">
                                        <div class="dataTables_length" id="DataTables_Table_0_length">
                                            <label>
                                                <span class="d-none d-sm-inline-block">Voir</span>
                                                <div class="form-control-select">
                                                    <select name="DataTables_Table_0_length" aria-controls="DataTables_Table_0"
                                                        class="custom-select custom-select-sm form-control form-control-sm" (change)="onChangeSize($event)">
                                                        <option value="5">5</option>
                                                        <option value="10">10</option>
                                                        <option value="25">25</option>
                                                        <option value="50">50</option>
                                                    </select>
                                                </div>
                                            </label>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="datatable-wrap my-3">
                            <table class="table dataTable no-footer dtr-inline" id="DataTables_Table_0">
                                <thead>
                                    <tr>

                                        <th aria-controls="DataTables_Table_0" class="nk-tb-col" rowspan="1"
                                            colspan="1">Fournisseur</th>
                                        <th aria-controls="DataTables_Table_0" class="nk-tb-col tb-col-lg" rowspan="1"
                                            colspan="1">date</th>
                                        <th aria-controls="DataTables_Table_0" class="nk-tb-col tb-col" rowspan="1"
                                            colspan="1">Montant</th>
                                        <th aria-controls="DataTables_Table_0" class="nk-tb-col tb-col-sm" rowspan="1"
                                            colspan="1">Document</th>
                                        <th aria-controls="DataTables_Table_0" class="nk-tb-col tb-col-sm" rowspan="1"
                                            colspan="1">Statut</th>
                                        <th aria-controls="DataTables_Table_0" class="nk-tb-col " rowspan="1"
                                            colspan="1">Action</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr
                                        *ngFor="let commande of data.reverse() | paginate: { id: 'commande', itemsPerPage: pageSize, currentPage: page+1, totalItems: collectionSize } ; let i=index ">

                                        <td class="even nk-tb-col">
                                            <span class="title">{{commande.fournisseur.name}}</span>
                                        </td>
                                        <td class="odd nk-tb-col tb-col-lg">
                                            <span class="title">{{commande?.date_creation | date}}</span>
                                        </td>
                                        <td class="odd nk-tb-col tb-col">
                                            <span class="title">{{commande?.pt}}</span>
                                        </td>
                                        <td class="odd nk-tb-col tb-col-sm">
                                            <span class="title">{{commande?.document}}</span>
                                        </td>
                                        <td class="odd nk-tb-col tb-col-sm">
                                            <span *ngIf="commande.statut == 'EN_ATTENTE'"
                                                class="badge badge-dot bg-secondary">En Attente</span>
                                            <span *ngIf="commande.statut == 'NON_REGLE'"
                                                class="badge badge-dot bg-info">Non Regle</span>
                                            <span *ngIf="commande.statut == 'REGLE'" class="badge badge-dot bg-primary">
                                                Regle</span>

                                        </td>
                                        <td class="tb-tnx-action nk-tb-col tb-col">
                                            <div class="">
                                                <ul class="nk-tb-actions ">
                                                    <li class="me-n1">
                                                        <div class="dropdown">
                                                            <a href="#" class="dropdown-toggle btn btn-icon btn-trigger"
                                                                data-bs-toggle="dropdown"><em
                                                                    class="icon ni ni-more-h"></em></a>
                                                            <div class="dropdown-menu dropdown-menu-end">
                                                                <ul class="link-list-opt no-bdr">
                                                                    <li data-bs-toggle="modal"
                                                                        data-bs-target="#modalTabs"
                                                                        *ngIf="commande.document == 'Facture' && commande.statut == 'NON_REGLE'"
                                                                        (click)="aRegler(commande)"><a><em
                                                                                class="icon ni ni-eye"></em><span>A
                                                                                regler</span></a></li>
                                                                    <li *ngIf="commande.document == 'Bon de commande'"
                                                                        (click)="transformCommande(commande)"><a><em
                                                                                class="icon ni ni-eye"></em><span>Facturer</span></a>
                                                                    </li>
                                                                    <li (click)="readOneCommande(commande)"><a
                                                                            data-bs-toggle="modal"
                                                                            data-bs-target="#modalTabs"><em
                                                                                class="icon ni ni-eye"></em><span>Voir
                                                                                Details</span></a></li>
                                                                    <!-- <li *ngIf="commande.document != 'Facture'" (click)="recupId(commande)"><a><em
                                                                                class="icon ni ni-edit"></em><span>Editer
                                                                            </span></a></li> -->
                                                                    <li *ngIf="commande.document != 'Facture'"
                                                                        (click)="deleteCommande(commande)"><a><em
                                                                                class="icon ni ni-trash"></em><span>Supprimer
                                                                            </span></a></li>
                                                                </ul>
                                                            </div>
                                                        </div>
                                                    </li>
                                                </ul>
                                            </div>
                                        </td>
                                    </tr>

                                </tbody>
                            </table>
                        </div>
                        <div class="pagination-container pagination">
                            <li> <pagination-controls [directionLinks]="true" id="commande" [autoHide]="true"
                                    (pageChange)="onPageChange($event)" class="bg-primary"></pagination-controls></li>
                        </div>
                    </div>

                </div>
            </div>

        </div>

    </div>
</div>


<div class="modal fade" tabindex="-1" role="dialog" id="modalTabs">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content" *ngIf="dataRead && modalOpen1">
            <a href="#" class="close" data-bs-dismiss="modal"><em class="icon ni ni-cross-sm"></em></a>
            <div class="nk-content ">
                <div class="container-fluid">
                    <div class="nk-content-inner">
                        <div class="nk-content-body">
                            <div class="nk-block-head">
                                <div class="nk-block-between g-3">
                                    <div class="nk-block-head-content">
                                        <h3 class="nk-block-title page-title">{{dataRead.document }} <strong
                                                class="text-primary small">#{{dataRead.code }}</strong></h3>
                                        <div class="nk-block-des text-soft">
                                            <ul class="list-inline">
                                                <li>Crée Le: <span class="text-base">{{dataRead.date_creation |
                                                        date}}</span>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                    <div class="nk-block-head-content">

                                        <a href=""
                                            class="btn btn-icon btn-outline-light bg-white d-inline-flex d-sm-none"><em
                                                class="icon ni ni-arrow-left"></em></a>
                                    </div>
                                </div>
                            </div><!-- .nk-block-head -->
                            <div class="nk-block">
                                <div class="invoice">
                                    <div class="invoice-action">
                                        <a class="btn btn-icon btn-lg btn-white btn-dim btn-outline-primary"
                                            target="_blank" (click)="imprimerDoc(dataRead.id)"><em class="icon ni ni-printer-fill"></em></a>
                                    </div><!-- .invoice-actions -->
                                    <div class="invoice-wrap">
                                        <div class="invoice-head">
                                            <div class="invoice-contact">
                                                <span class="overline-title">COMMANDE de</span>
                                                <div class="invoice-contact-info">
                                                    <h4 class="title ucap">{{dataRead.fournisseur.name}}</h4>
                                                    <ul class="list-plain">
                                                        <li><em
                                                                class="icon ni ni-map-pin-fill"></em><span>{{dataRead.fournisseur.email}}</span>
                                                        </li>
                                                        <li><em
                                                                class="icon ni ni-call-fill"></em><span>{{dataRead.fournisseur.number}}</span>
                                                        </li>
                                                    </ul>
                                                </div>
                                            </div>
                                            <div class="invoice-desc">
                                                <h3 class="title">{{dataRead.document}}</h3>
                                                <ul class="list-plain">
                                                    <li class="invoice-id"><span>
                                                            Code</span>:<span>{{dataRead.code}}</span></li>
                                                    <li class="">
                                                        <span>Date</span>:<span>{{dataRead.date_creation | date}}</span>
                                                    </li>
                                                </ul>
                                            </div>
                                        </div><!-- .invoice-head -->
                                        <div class="invoice-bills">
                                            <div class="table-responsive">
                                                <table class="table table-striped">
                                                    <thead>
                                                        <tr>
                                                            <th class="w-150px">Items N°</th>
                                                            <th class="w-45">Produit</th>

                                                            <th class>Qte</th>
                                                            <th class>P.T.</th>

                                                        </tr>
                                                    </thead>
                                                    <tbody>
                                                        <tr *ngFor="let item of dataReadLigne ; let i=index ">
                                                            <td> {{i+1}} </td>
                                                            <td>{{item.produit.dci}}</td>

                                                            <td>{{item.qte}} </td>
                                                            <td>{{item.pt}} CFA</td>
                                                        </tr>

                                                    </tbody>
                                                    <tfoot>
                                                        <tr>
                                                            <td></td>
                                                            <td colspan="2">Grand Total</td>
                                                            <td>{{dataRead.pt}} CFA</td>
                                                        </tr>
                                                    </tfoot>
                                                </table>
                                                <div class="nk-notes ff-italic fs-12px text-soft">MARIE BERNARD</div>
                                            </div>
                                        </div><!-- .invoice-bills -->
                                    </div><!-- .invoice-wrap -->
                                </div><!-- .invoice -->
                            </div><!-- .nk-block -->
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="modal-content" *ngIf="modalOpen2">
            <div class="modal-header">
                <h5 class="modal-title">Reglement</h5>
                <a href="#" class="close" data-bs-dismiss="modall" aria-label="Close">
                    <em class="icon ni ni-cross"></em>
                </a>
            </div>
            <div class="modal-body">
                <form [formGroup]="form" class="form-validate is-alter">
                    <div class="form-group">
                        <label class="form-label" for="pt">Montant du reglement</label>
                        <div class="form-control-wrap">
                            <input type="number" class="form-control" formControlName="pt" id="pt"
                                [attr.disabled]="isDisabled? isDisabled: null">
                            <span *ngIf="(submitted || form.controls.pt.touched) && form.controls.pt.errors "
                                style="color: rgb(255, 75, 75);">
                                La description est requise
                            </span>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="form-label" for="rendu">Rendu </label>
                        <div class="form-control-wrap">
                            <input type="number" class="form-control" (ngModelChange)="getRemboursement()"
                                formControlName="rendu" id="rendu">
                            <span *ngIf="(submitted || form.controls.rendu.touched) && form.controls.rendu.errors "
                                style="color: rgb(255, 75, 75);">
                                La rendu est requis
                            </span>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="form-label" for="reste">Reste</label>
                        <div class="form-control-wrap">
                            <input type="number" class="form-control" formControlName="reste" value="{{reste}}"
                                id="reste" [attr.disabled]="isDisabled? isDisabled: null">
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="form-label" for="caisse">Caisse</label>
                        <select class="form-control form-select" formControlName="idCaisse">
                            <option *ngFor="let caisse of dataCaisse" value="{{caisse.id}}">{{caisse.name}}</option>
                        </select>
                        <span *ngIf="(submitted || form.controls.idCaisse.touched) && form.controls.idCaisse.errors "
                            style="color: rgb(255, 75, 75);">
                            La Caisse est requise
                        </span>
                    </div>
                    <div class="form-group">
                        <button type="submit" class="btn btn-lg btn-primary" (click)="reglerCommande()">
                            Regler
                            <div class="d-flex justify-content-center" *ngIf="isLoading">
                                <span class="spinner-border spinner-border-sm" role="status" aria-hidden="true">
                                </span>
                            </div>
                        </button>
                    </div>
                </form>
            </div>
            <div class="modal-footer bg-light">
                <span class="sub-text">REGLEMENT</span>
            </div>
        </div>
    </div>