<div class="nk-content-body">
    <div class="nk-block-head nk-block-head-sm">
        <!-- <div class="nk-block-head-sub"><a class="back-to" href="html/components.html"><em
                    class="icon ni ni-arrow-left"></em><span>Components</span></a></div> -->


        <div class="nk-block nk-block-lg">
            <div class="nk-block-head">
                <div class="nk-block-head-content d-flex justify-content-between">
                    <div>
                        <h4 class="nk-block-title">LISTE DES ARTICLES EN STOCKS</h4>
                        <p>Le tableau suivant liste <strong class="text-primary">les differents articles en stock et leurs
                                differentes
                                operations</strong>.</p>
                        <div>
                            <nav>
                                <ul class="breadcrumb breadcrumb-arrow">
                                    <li class="breadcrumb-item"><a [routerLink]="['']">Tableau de bord</a>
                                    </li>
                                    <li class="breadcrumb-item active">StockArticles
                                    </li>
                                </ul>
                            </nav>
                        </div>
                    </div>
                </div>
                <div class="d-flex flex-row-reverse flex-item justify-content-between">
                    <li class="nk-block-tools-opt">
                        <a [routerLink]="['/stocks/ajouter']" class="btn btn-primary d-none d-md-inline-flex"><em
                                class="icon ni ni-plus"></em><span>Ajouter des articles en stock</span></a>
                    </li>
                </div>
            </div>

            <div class="card card-bordered card-preview">
                <div class="card-inner">
                    <div id="DataTables_Table_0_wrapper" class="dataTables_wrapper dt-bootstrap4 no-footer">
                        <div class="row justify-between g-2">
                            <div class="col-7 col-sm-4 text-start">
                                <div id="DataTables_Table_0_filter" class="dataTables_filter">
                                    <div id="DataTables_Table_0_filter" class="dataTables_filter">
                                        <label>
                                            <input (keyup)="search($event)" type="search" class="form-control form-control-sm" placeholder="Rechercher"
                                                aria-controls="DataTables_Table_0">
                                        </label>
                                    </div>
                                </div>
                            </div>
                            <div class="col-5 col-sm-8 text-end">
                                <div class="datatable-filter">
                                    <div class="d-flex justify-content-end g-2">
                                        <div class="dataTables_length" id="DataTables_Table_0_length">
                                            <label>
                                                <span class="d-none d-sm-inline-block">Voir</span>
                                                <div class="form-control-select">
                                                    <select name="DataTables_Table_0_length" aria-controls="DataTables_Table_0"
                                                        class="custom-select custom-select-sm form-control form-control-sm" (change)="onChangeSize($event)">
                                                        <option value="5">5</option>
                                                        <option value="10">10</option>
                                                        <option value="25">25</option>
                                                        <option value="50">50</option>
                                                    </select>
                                                </div>
                                            </label>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="datatable-wrap my-3">
                            <table class="table dataTable no-footer dtr-inline" id="DataTables_Table_0">
                                <thead>
                                    <tr>

                                        <th aria-controls="DataTables_Table_0" class="nk-tb-col" rowspan="1"
                                            colspan="1">Code</th>
                                        <th aria-controls="DataTables_Table_0" class="nk-tb-col tb-col-lg" rowspan="1"
                                            colspan="1">Produit</th>
                                        <th aria-controls="DataTables_Table_0" class="nk-tb-col tb-col-sm" rowspan="1"
                                            colspan="1">Depot</th>
                                        <th aria-controls="DataTables_Table_0" class="nk-tb-col tb-col-lg" rowspan="1"
                                            colspan="1">Quantité</th>
                                        <th aria-controls="DataTables_Table_0" class="nk-tb-col tb-col-lg" rowspan="1"
                                            colspan="1">statut</th>
                                        <th aria-controls="DataTables_Table_0" class="nk-tb-col " rowspan="1"
                                            colspan="1">Action</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr
                                        *ngFor="let stockArticle of data | paginate: { id: 'stockArticle', itemsPerPage: pageSize, currentPage: page+1, totalItems: collectionSize } ; let i=index ">

                                        <td class="even nk-tb-col">
                                            <span class="title">{{stockArticle.produit.code}}</span>
                                        </td>
                                        <td class="odd nk-tb-col tb-col-lg">
                                            <span class="title">{{stockArticle.produit.dci}}</span>
                                        </td>
                                        <td class="odd nk-tb-col tb-col-sm">
                                            <span class="title">{{stockArticle.depot.name}}</span>
                                        </td>
                                        <td class="odd nk-tb-col tb-col-lg">
                                            <span class="title">{{stockArticle.qte}}</span>
                                        </td>
                                        <td class="odd nk-tb-col tb-col-lg">
                                            <span *ngIf="stockArticle.statut == 'Normal'" class="badge badge-dot bg-primary">{{stockArticle?.statut}}</span>
                                            <span *ngIf="stockArticle.statut == 'En excès'" class="badge badge-dot bg-warning">{{stockArticle?.statut}}</span>
                                            <span *ngIf="stockArticle.statut == 'Insuffisant'" class="badge badge-dot bg-secondary">{{stockArticle?.statut}}</span>
                                            <span *ngIf="stockArticle.statut == 'Faible'" class="badge badge-dot bg-danger">{{stockArticle?.statut}}</span>
                                        </td>
                                        <td class="tb-tnx-action nk-tb-col tb-col">
                                            <div class="">
                                                <ul class="nk-tb-actions ">
                                                    <li class="me-n1">
                                                        <div class="dropdown">
                                                            <a href="#" class="dropdown-toggle btn btn-icon btn-trigger"
                                                                data-bs-toggle="dropdown"><em
                                                                    class="icon ni ni-more-h"></em></a>
                                                            <div class="dropdown-menu dropdown-menu-end">
                                                                <ul class="link-list-opt no-bdr">
                                                                    <li (click)="readOneStockArticle(stockArticle)"><a
                                                                            data-bs-toggle="modal"
                                                                            data-bs-target="#modalTabs"><em
                                                                                class="icon ni ni-eye"></em><span>Voir
                                                                                Details</span></a></li>
                                                                    <li (click)="recupId(stockArticle)"><a><em
                                                                                class="icon ni ni-edit"></em><span>Editer
                                                                            </span></a></li>
                                                                    <li (click)="deleteStockArticle(stockArticle)"><a><em
                                                                                class="icon ni ni-trash"></em><span>Supprimer
                                                                            </span></a></li>
                                                                </ul>
                                                            </div>
                                                        </div>
                                                    </li>
                                                </ul>
                                            </div>
                                        </td>
                                    </tr>

                                </tbody>
                            </table>
                        </div>
                        <div class="pagination-container pagination">
                            <li> <pagination-controls [directionLinks]="true" id="stockArticle" [autoHide]="true"
                                    (pageChange)="onPageChange($event)" class="bg-primary"></pagination-controls></li>
                        </div>
                        <!-- pagination -->
                        <!-- <div class="row align-items-center">
                            <div class="col-7 col-sm-12 col-md-9">
                                <div class="dataTables_paginate paging_simple_numbers" id="DataTables_Table_0_paginate">
                                    <ul class="pagination">
                                        <li class="paginate_button page-item previous disabled" id="DataTables_Table_0_previous"><a
                                                href="#" aria-controls="DataTables_Table_0" data-dt-idx="previous" tabindex="0"
                                                class="page-link">Prev</a></li>
                                        <li class="paginate_button page-item active"><a href="#" aria-controls="DataTables_Table_0"
                                                data-dt-idx="0" tabindex="0" class="page-link">1</a></li>
                                        <li class="paginate_button page-item "><a href="#" aria-controls="DataTables_Table_0"
                                                data-dt-idx="1" tabindex="0" class="page-link">2</a></li>
                                        <li class="paginate_button page-item "><a href="#" aria-controls="DataTables_Table_0"
                                                data-dt-idx="2" tabindex="0" class="page-link">3</a></li>
                                        <li class="paginate_button page-item "><a href="#" aria-controls="DataTables_Table_0"
                                                data-dt-idx="3" tabindex="0" class="page-link">4</a></li>
                                        <li class="paginate_button page-item "><a href="#" aria-controls="DataTables_Table_0"
                                                data-dt-idx="4" tabindex="0" class="page-link">5</a></li>
                                        <li class="paginate_button page-item disabled" id="DataTables_Table_0_ellipsis"><a href="#"
                                                aria-controls="DataTables_Table_0" data-dt-idx="ellipsis" tabindex="0"
                                                class="page-link">…</a></li>
                                        <li class="paginate_button page-item "><a href="#" aria-controls="DataTables_Table_0"
                                                data-dt-idx="11" tabindex="0" class="page-link">12</a></li>
                                        <li class="paginate_button page-item next" id="DataTables_Table_0_next"><a href="#"
                                                aria-controls="DataTables_Table_0" data-dt-idx="next" tabindex="0"
                                                class="page-link">Next</a></li>
                                    </ul>
                                </div>
                            </div>
                            <div class="col-5 col-sm-12 col-md-3 text-start text-md-end">
                                <div class="dataTables_info" >1 -10 of 100</div>
                            </div>
                        </div> -->
                        <!-- pagination -->
                    </div>

                </div>
            </div>

        </div>

    </div>
</div>