<div class="nk-content-body">
    <div class="nk-block-head nk-block-head-sm">
        <!-- <div class="nk-block-head-sub"><a class="back-to" href="html/components.html"><em
                    class="icon ni ni-arrow-left"></em><span>Components</span></a></div> -->


        <div class="nk-block nk-block-lg">
            <div class="nk-block-head">
                <div class="nk-block-head-content d-flex justify-content-between">
                    <div>
                        <h4 class="nk-block-title">AJOUTER UNE COMMANDE</h4>
                        <p>Le formulaire suivant permet <strong class="text-primary">d'ajouter un commande
                            </strong>.</p>
                        <div>
                            <nav>
                                <ul class="breadcrumb breadcrumb-arrow">
                                    <li class="breadcrumb-item"><a [routerLink]="['/dashboard']">Tableau de bord</a>
                                    </li>
                                    <li class="breadcrumb-item"><a [routerLink]="['/ventes/commande/liste']">Liste des
                                            commandes</a>
                                    </li>
                                    <li class="breadcrumb-item active">Ajout d'un
                                        commande
                                    </li>
                                </ul>
                            </nav>
                        </div>
                    </div>
                </div>

                <div class="nk-content ">
                    <div class="container-fluid">
                        <div class="nk-content-inner">
                            <div class="nk-content-body">
                                <div class="nk-block-head nk-block-head-sm">
                                    <div class="nk-block-between">
                                        <!-- .nk-block-head-content -->
                                    </div><!-- .nk-block-between -->
                                </div><!-- .nk-block-head -->
                                <div class="nk-block">
                                    <form [formGroup]="form" class="form-validate is-alter">
                                        <div class="card card-bordered">
                                            <div class="card-inner-group">
                                                <div class="card-inner">
                                                    <div class="nk-block-head">
                                                        <div class="nk-block-head-content">
                                                            <h5 class="title nk-block-title">INFORMATIONS DE LA COMMANDE
                                                            </h5>
                                                            <p>Ajouter les informations personnelles de la commande
                                                            </p>
                                                        </div>
                                                    </div>
                                                    <div class="row gy-4">
                                                        <div class="col-xxl-3 col-md-4">
                                                            <div class="form-group">
                                                                <label class="form-label" for="default-03">Fournisseur
                                                                </label>
                                                                <div class="form-control-wrap">
                                                                    <div class="form-icon form-icon-left">
                                                                        <em class="icon ni ni-user"></em>
                                                                    </div>
                                                                    <!-- <div >
                                                                        <ng-autocomplete  [data]="dataFournisseur"
                                                                            [searchKeyword]="keyword"
                                                                            [itemTemplate]="itemTemplate"
                                                                            [notFoundTemplate]="notFoundTemplate">
                                                                        </ng-autocomplete>

                                                                        <ng-template #itemTemplate let-item>
                                                                            <a [innerHTML]="item.name"></a>
                                                                        </ng-template>

                                                                        <ng-template #notFoundTemplate let-notFound>
                                                                            <div [innerHTML]="notFound"></div>
                                                                        </ng-template>
                                                                    </div> -->
                                                                    <select class="form-control form-select"
                                                                        formControlName="idClientFournisseur">
                                                                        <option *ngFor="let data of dataFournisseur"
                                                                            value="{{data?.id}}" class="fw-medium p-2">
                                                                            {{data?.name}} - {{data?.number}}</option>
                                                                    </select>

                                                                </div>

                                                            </div>
                                                        </div><!--col-->

                                                        <div class="col-xxl-3 col-md-4">
                                                            <div class="form-group">
                                                                <label class="form-label" for="document">Type de
                                                                    document </label>
                                                                <div class="form-control-wrap">
                                                                    <div class="form-icon form-icon-left">
                                                                        <em class="icon ni ni-sign-xrp-old"></em>
                                                                    </div>
                                                                    <select class="form-control form-select"
                                                                        formControlName="document">
                                                                        <option *ngFor="let data of dataStatut"
                                                                            value={{data?.name}} class="fw-medium p-2"
                                                                            selected>
                                                                            {{data?.name}}</option>
                                                                    </select>
                                                                </div>

                                                            </div>
                                                        </div><!--col-->
                                                        <!--col-->
                                                        <div class="col-xxl-3 col-md-4">
                                                            <div class="form-group">
                                                                <label class="form-label" for="idDepot">Depôt
                                                                </label>
                                                                <div class="form-control-wrap">
                                                                    <div class="form-icon form-icon-left">
                                                                        <em class="icon ni ni-inbox-fill"></em>
                                                                    </div>
                                                                    <select class="form-control form-select"
                                                                        formControlName="idDepot">
                                                                        <option *ngFor="let data of dataDepot"
                                                                            value="{{data?.id}}" class="fw-medium p-2">
                                                                            {{data?.name}}-{{data?.description}}
                                                                        </option>
                                                                    </select>
                                                                </div>

                                                            </div>
                                                        </div><!--col-->
                                                        <!--col-->
                                                    </div><!--row-->
                                                </div><!-- .card-inner-group -->

                                            </div>
                                        </div>
                                    </form>
                                    <div class="card card-bordered">
                                        <div class="card-inner">
                                            <form [formGroup]="formLigne" class="form-validate is-alter">
                                                <div class="row gy-3 d-flex ">
                                                    <div class="col-xxl-3 col-md-4">
                                                        <div class="form-group">
                                                            <label class="form-label" for="produit"> Produit</label>
                                                            <select class="form-control form-select"
                                                                formControlName="idProduit">
                                                                <option *ngFor="let data of dataProduit"
                                                                    value="{{data?.id}}" class="fw-medium p-2">
                                                                    {{data?.dci}}</option>
                                                            </select>
                                                        </div>
                                                    </div><!--col-->
                                                    <!--col-->
                                                    <div class="col-xxl-3 col-md-4 ">
                                                        <div class="form-group">
                                                            <label class="form-label">Quantité</label>
                                                            <div class="form-control-wrap number-spinner-wrap">
                                                                <button (click)="decrement()" class="btn btn-icon btn-outline-light number-spinner-btn number-minus"><em
                                                                        class="icon ni ni-minus"></em></button>
                                                                <input type="number" class="form-control number-spinner" formControlName="qte" [(ngModel)]="qte" value="0">
                                                                <button (click)="increment()" class="btn btn-icon btn-outline-light number-spinner-btn number-plus"><em
                                                                        class="icon ni ni-plus"></em></button>
                                                            </div>
                                                        </div>
                                                    </div>

                                                    <div
                                                        class="col-xxl-3 col-md-4 align-self-end d-flex justify-content-end">
                                                        <div class="form-group">
                                                            <button type="submit" (click)="ajouterObjet()"
                                                                class="btn btn-dim btn-primary">Ajouter</button>
                                                        </div>
                                                    </div>
                                                    <div class="invoice-bills mt-5">
                                                        <div class="table-responsive">
                                                            <table class="table table-striped">
                                                                <thead>
                                                                    <tr>
                                                                        <th class="w-150px">Items N°</th>
                                                                        <th class="w-45">Produit</th>
                                                                        <th>P.U.</th>
                                                                        <th>Qte</th>
                                                                        <th>P.T.</th>
                                                                        <th>Action</th>

                                                                    </tr>
                                                                </thead>
                                                                <tbody>
                                                                    <tr
                                                                        *ngFor="let item of ligneCommande; let i=index ">
                                                                        <td> {{i+1}} </td>
                                                                        <td>#{{item.code}}-{{item.dci}}</td>
                                                                        <td>{{item.pv}} CFA</td>
                                                                        <td>{{item.qte}} </td>
                                                                        <td>{{item.pt}} CFA</td>
                                                                        <td>
                                                                            <a class="btn btn-icon btn-trigger"
                                                                                (click)="deleteLigne(i)"><em
                                                                                    class="icon ni ni-trash"></em></a>
                                                                        </td>


                                                                    </tr>

                                                                </tbody>

                                                                <tfoot>
                                                                    <tr>
                                                                        <td colspan="2"></td>
                                                                        <td colspan="2" class="ucap">Net a payer
                                                                        </td>
                                                                        <td>{{somme}}</td>
                                                                    </tr>
                                                                </tfoot>

                                                            </table>
                                                        </div>
                                                    </div>
                                                    <!--col-->
                                                    <!--col-->

                                                    <!--col-->
                                                    <!--col-->
                                                    <div class="col-12 mt-5 d-flex flex-row-reverse">
                                                        <div class="form-group">
                                                            <button type="submit" (click)="save()"
                                                                class="btn btn-primary">Ajouter
                                                                commande</button>
                                                        </div>
                                                    </div><!--col-->
                                                </div><!--row-->
                                            </form>
                                        </div><!-- .card-inner-group -->
                                    </div>
                                    <!-- .card -->

                                </div><!-- .nk-block -->
                            </div>
                        </div>
                    </div>
                </div>