<div class="nk-content ">
    <div class="container-fluid">
        <div class="nk-content-inner">
            <div class="nk-content-body">
                <div class="nk-block-head nk-block-head-sm">
                    <div class="nk-block-between">
                        <div class="nk-block-head-content">
                            <h3 class="nk-block-title page-title">Tableau de bord</h3>

                            <div class="nk-block-des text-soft">
                                <p>Bienvenue sur votre tableau de bord favoris</p>
                            </div>
                        </div><!-- .nk-block-head-content -->
                        <div class="nk-block-head-content">
                            <div class="toggle-wrap nk-block-tools-toggle">
                                <a href="#" class="btn btn-icon btn-trigger toggle-expand me-n1"
                                    data-target="pageMenu"><em class="icon ni ni-more-v"></em></a>
                                <div class="toggle-expand-content" data-content="pageMenu">
                                    <ul class="nk-block-tools g-3">
                                        <!-- <li>
                                            <div class="drodown">
                                                <a href="#"
                                                    class="dropdown-toggle btn btn-white btn-dim btn-outline-light"
                                                    data-bs-toggle="dropdown"><em
                                                        class="d-none d-sm-inline icon ni ni-calender-date"></em><span><span
                                                            class="d-none d-md-inline">Last</span> 30
                                                        Days</span><em
                                                        class="dd-indc icon ni ni-chevron-right"></em></a>
                                                <div class="dropdown-menu dropdown-menu-end">
                                                    <ul class="link-list-opt no-bdr">
                                                        <li><a href="#"><span>Last 30 Days</span></a>
                                                        </li>
                                                        <li><a href="#"><span>Last 6 Months</span></a>
                                                        </li>
                                                        <li><a href="#"><span>Last 1 Years</span></a>
                                                        </li>
                                                    </ul>
                                                </div>
                                            </div>
                                        </li> -->
                                        <!-- <li class="nk-block-tools-opt"><a href="#" class="btn btn-primary"><em
                                                    class="icon ni ni-reports"></em><span>Reports</span></a>
                                        </li> -->
                                    </ul>
                                </div>
                            </div>
                        </div><!-- .nk-block-head-content -->
                    </div><!-- .nk-block-between -->
                </div><!-- .nk-block-head -->
                <div class="nk-block">
                    <div class="row g-gs">
                        <div class="col-xxl-3 col-sm-6">
                            <div class="card">
                                <div class="nk-ecwg nk-ecwg6 ">
                                    <div class="card-inner">
                                        <div class="card-title-group">
                                            <div class="card-title">
                                                <h6 class="title">Ventes du jour</h6>
                                            </div>
                                        </div>
                                        <div class="data">
                                            <div class="data-group">
                                                <div class="amount">{{collectionSizeDay}}</div>
                                                <!-- <canvas class="ecommerce-line-chart-s3" id="{{todayOrders}}"></canvas> -->
                                                <!-- <em class="icon bg-primary-dim ni ni-bag"></em>
                                                <span class="icon ni ni-files  "></span> -->
                                                <div class="nk-ecwg6-ck">
                                                    <canvas class="ecommerce-line-chart-s3" id="todayOrders"></canvas>
                                                </div>
                                            </div>

                                        </div>
                                    </div><!-- .card-inner -->
                                </div><!-- .nk-ecwg -->
                            </div><!-- .card -->
                        </div><!-- .col -->
                        <div class="col-xxl-3 col-sm-6">
                            <div class="card">
                                <div class="nk-ecwg nk-ecwg6">
                                    <div class="card-inner">
                                        <div class="card-title-group">
                                            <div class="card-title">
                                                <h6 class="title">Revenues Totaux</h6>
                                            </div>
                                        </div>
                                        <div class="data">
                                            <div class="data-group">
                                                <div class="amount" *ngFor="let item of dataRevenu">{{item.revenu | number}} CFA</div>
                                                <div class="nk-ecwg6-ck">
                                                    <canvas class="ecommerce-line-chart-s3" id="todayRevenue"></canvas>
                                                </div>
                                            </div>

                                        </div>
                                    </div><!-- .card-inner -->
                                </div><!-- .nk-ecwg -->
                            </div><!-- .card -->
                        </div><!-- .col -->

                        <!-- <div class="col-xxl-3 col-md-6">
                            <div class="card card-full overflow-hidden">
                                <div class="nk-ecwg nk-ecwg7 h-100">
                                    <div class="card-inner flex-grow-1">
                                        <div class="card-title-group mb-4">
                                            <div class="card-title">
                                                <h6 class="title">Order Statistics</h6>
                                            </div>
                                        </div>
                                        <div class="nk-ecwg7-ck">
                                            
                                        </div>
                                        <ul class="nk-ecwg7-legends">
                                            <li>
                                                <div class="title">
                                                    <span class="dot dot-lg sq" data-bg="#0fac81"></span>
                                                    <span>Completed</span>
                                                </div>
                                            </li>
                                            <li>
                                                <div class="title">
                                                    <span class="dot dot-lg sq" data-bg="#e85347"></span>
                                                    <span>Canclled</span>
                                                </div>
                                            </li>
                                            <li>
                                                <div class="title">
                                                    <span class="dot dot-lg sq" data-bg="#816bff"></span>
                                                    <span>Processing</span>
                                                </div>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div> -->
                        <div class="col-xxl-3 col-md-6">
                            <div class="card h-100">
                                <div class="card-inner">
                                    <div class="card-title-group mb-2">
                                        <div class="card-title">
                                            <h6 class="title">Statistiques de notre pharmacie</h6>
                                        </div>
                                    </div>
                                    <ul class="nk-store-statistics">
                                        <li class="item">
                                            <div class="info">
                                                <div class="title">Commandes de nos clients</div>
                                                <div class="count">{{collectionSizeClientCommande}}</div>
                                            </div>
                                            <em [routerLink]="['/ventes/commande/liste']"
                                                class="icon bg-primary-dim ni ni-bag hover"></em>
                                        </li>
                                        <li class="item">
                                            <div class="info">
                                                <div class="title">Clients</div>
                                                <div class="count">{{collectionSizePatient}}</div>
                                            </div>
                                            <em [routerLink]="['/patients/ajouter']"
                                                class="icon bg-info-dim ni ni-users"></em>
                                        </li>
                                        <li class="item">
                                            <div class="info">
                                                <div class="title">Produits</div>
                                                <div class="count">{{collectionSizeProduit}}</div>
                                            </div>
                                            <em [routerLink]="['/produits/liste']"
                                                class="icon bg-pink-dim ni ni-box"></em>
                                        </li>
                                        <li class="item">
                                            <div class="info">
                                                <div class="title">Depôts</div>
                                                <div class="count">{{collectionSizeDepot}}</div>
                                            </div>
                                            <em [routerLink]="['/depots']" class="icon bg-purple-dim ni ni-server"></em>
                                        </li>
                                    </ul>
                                </div><!-- .card-inner -->
                            </div><!-- .card -->
                        </div><!-- .col -->
                        <!-- <div class="col-xxl-8">
                            <div class="card card-full">
                                <div class="card-inner">
                                    <div class="card-title-group">
                                        <div class="card-title">
                                            <h6 class="title">Commandes recentes</h6>
                                        </div>
                                    </div>
                                </div>
                                <div class="nk-tb-list mt-n2">
                                    <div class="nk-tb-item nk-tb-head">
                                        <div class="nk-tb-col"><span>Code</span></div>
                                        <div class="nk-tb-col tb-col-sm"><span>Client/Fournisseur</span></div>
                                        <div class="nk-tb-col tb-col-md"><span>Date</span></div>
                                        <div class="nk-tb-col"><span>Montant</span></div>
                                        <div class="nk-tb-col"><span class="d-none d-sm-inline">Statut</span></div>
                                    </div>
                                    <div class="nk-tb-item" *ngFor="let commande of dataCommande">
                                        <div class="nk-tb-col">
                                            <span class="tb-lead"><a href="#">{{commande.code}}</a></span>
                                        </div>
                                        <div class="nk-tb-col tb-col-sm">
                                            <div class="user-card">
                                                <div class="user-avatar sm bg-purple-dim">
                                                    <span
                                                        *ngIf="commande.client != null">{{commande.client.name[0]}}</span>
                                                    <span
                                                        *ngIf="commande.fournisseur != null">{{commande.fournisseur.name[0]}}</span>
                                                </div>
                                                <div class="user-name">
                                                    <span
                                                        *ngIf="commande.client != null">{{commande.client.name}}</span>
                                                    <span
                                                        *ngIf="commande.fournisseur != null">{{commande.fournisseur.name}}</span>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="nk-tb-col tb-col-md">
                                            <span class="tb-sub">{{commande.date_creation | date}}</span>
                                        </div>
                                        <div class="nk-tb-col">
                                            <span class="tb-sub tb-amount">{{commande.pt}}
                                                <span>CFA</span></span>
                                        </div>
                                        <div class="nk-tb-col">
                                            <span *ngIf="commande.statut == 'EN_ATTENTE'"
                                                class="badge badge-dot bg-secondary">En Attente</span>
                                            <span *ngIf="commande.statut == 'NON_REGLE'"
                                                class="badge badge-dot bg-info">Non Regle</span>
                                            <span *ngIf="commande.statut == 'REGLE'" class="badge badge-dot bg-primary">
                                                Regle</span>
                                        </div>
                                    </div>

                                </div>
                            </div>
                        </div> -->
                        <div class="col-xxl-3 col-md-6">
                            <div class="card h-100">
                                <div class="card-inner">
                                    <div class="card-title-group mb-2">
                                        <div class="card-title">
                                            <h6 class="title">Les produits les plus demandés</h6>
                                        </div>

                                    </div>
                                    <ul class="nk-top-products">
                                        <li class="item" *ngFor="let item of dataLPV">
                                            
                                            <div class="info">
                                                <div class="title">{{item.dci }}</div>
                                                <div class="price">{{item.pu}}</div>
                                            </div>
                                            <div class="total">
                                                <div class="amount">{{item.qteTotal}}</div>
                                                <div class="count">{{item.qtePro}} Sold</div>
                                            </div>
                                        </li>

                                    </ul>
                                </div><!-- .card-inner -->
                            </div><!-- .card -->
                        </div><!-- .col -->
                    </div><!-- .row -->
                </div><!-- .nk-block -->
            </div>
        </div>
    </div>
</div>