<div class="nk-content-body">
    <div class="nk-block-head nk-block-head-sm">
        <!-- <div class="nk-block-head-sub"><a class="back-to" href="html/components.html"><em
                    class="icon ni ni-arrow-left"></em><span>Components</span></a></div> -->


        <div class="nk-block nk-block-lg">
            <div class="nk-block-head">
                <div class="nk-block-head-content d-flex justify-content-between">
                    <div>
                        <h4 class="nk-block-title">LISTE DES FOURNISSEURS</h4>
                        <p>Le tableau suivant liste <strong class="text-primary">les differents fournisseurs et leurs
                                differentes
                                operations</strong>.</p>
                        <div>
                            <nav>
                                <ul class="breadcrumb breadcrumb-arrow">
                                    <li class="breadcrumb-item"><a [routerLink]="['/dashboard']">Tableau de bord</a>
                                    </li>
                                    <li class="breadcrumb-item active">Fournisseurs
                                    </li>
                                </ul>
                            </nav>
                        </div>
                    </div>
                </div>
                <div class="d-flex flex-row-reverse flex-item justify-content-between">
                    <li class="nk-block-tools-opt">
                        <a [routerLink]="['/fournisseurs/ajouter']" class="btn btn-primary d-none d-md-inline-flex"><em
                                class="icon ni ni-plus"></em><span>Ajouter fournisseur</span></a>
                    </li>
                </div>
            </div>

            <div class="card card-bordered card-preview">
                <div class="card-inner">
                    <div id="DataTables_Table_0_wrapper" class="dataTables_wrapper dt-bootstrap4 no-footer">
                        <div class="row justify-between g-2">
                            <div class="col-7 col-sm-4 text-start">
                                <div id="DataTables_Table_0_filter" class="dataTables_filter">
                                    <label>
                                        <input type="search" class="form-control form-control-sm"
                                            placeholder="Rechercher" aria-controls="DataTables_Table_0">
                                    </label>
                                </div>
                            </div>
                            <div class="col-5 col-sm-8 text-end">
                                <div class="datatable-filter">
                                    <div class="d-flex justify-content-end g-2">
                                        <div class="dataTables_length" id="DataTables_Table_0_length">
                                            <label>
                                                <span class="d-none d-sm-inline-block">Voir</span>
                                                <div class="form-control-select">
                                                    <select name="DataTables_Table_0_length"
                                                        aria-controls="DataTables_Table_0"
                                                        class="custom-select custom-select-sm form-control form-control-sm"
                                                        [(ngModel)]="pageSize" (ngModelChange)="onPageSizeChange()">
                                                        <option value="5">5</option>
                                                        <option value="10">10</option>
                                                        <option value="25">25</option>
                                                        <option value="50">50</option>
                                                        <option value="100">100</option>
                                                    </select>
                                                </div>
                                            </label>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="datatable-wrap my-3">
                            <table class="table dataTable no-footer dtr-inline" id="DataTables_Table_0">
                                <thead>
                                    <tr>

                                        <th aria-controls="DataTables_Table_0" class="nk-tb-col" rowspan="1"
                                            colspan="1">Nom</th>
                                        <th aria-controls="DataTables_Table_0" class="nk-tb-col tb-col-lg" rowspan="1"
                                            colspan="1">Numero</th>
                                        <th aria-controls="DataTables_Table_0" class="nk-tb-col tb-col-sm" rowspan="1"
                                            colspan="1">Adresse</th>
                                        <th aria-controls="DataTables_Table_0" class="nk-tb-col tb-col-lg" rowspan="1"
                                            colspan="1">Email</th>
                                        <th aria-controls="DataTables_Table_0" class="nk-tb-col tb-col-xxl" rowspan="1"
                                            colspan="1">Ville</th>
                                        <th aria-controls="DataTables_Table_0" class="nk-tb-col " rowspan="1"
                                            colspan="1">Action</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr
                                        *ngFor="let fournisseur of data | paginate: { itemsPerPage: pageSize, currentPage: p }  ; let i=index ">

                                        <td class="even nk-tb-col">
                                            <span class="title">{{fournisseur?.name}}</span>
                                        </td>
                                        <td class="odd nk-tb-col tb-col-lg">
                                            <span class="title">{{fournisseur?.number}}</span>
                                        </td>
                                        <td class="odd nk-tb-col tb-col-sm">
                                            <span class="title">{{fournisseur?.adress}}</span>
                                        </td>
                                        <td class="odd nk-tb-col tb-col-lg">
                                            <span class="title">{{fournisseur?.email}}</span>
                                        </td>
                                        <td class="odd nk-tb-col tb-col-xxl">
                                            <span class="title">{{fournisseur?.city}}</span>
                                        </td>
                                        <td class="tb-tnx-action nk-tb-col tb-col">
                                            <div class="">
                                                <ul class="nk-tb-actions ">
                                                    <li class="me-n1">
                                                        <div class="dropdown">
                                                            <a href="#" class="dropdown-toggle btn btn-icon btn-trigger"
                                                                data-bs-toggle="dropdown"><em
                                                                    class="icon ni ni-more-h"></em></a>
                                                            <div class="dropdown-menu dropdown-menu-end">
                                                                <ul class="link-list-opt no-bdr">
                                                                    <li [routerLink]="['/fournisseurs/ajouter']"
                                                                        (click)="recupIdView(fournisseur)"><a><em
                                                                                class="icon ni ni-eye"></em><span>Voir
                                                                                Details</span></a></li>
                                                                    <li (click)="recupId(fournisseur)"><a><em
                                                                                class="icon ni ni-edit"></em><span>Editer
                                                                            </span></a></li>
                                                                    <li (click)="deleteFournisseur(fournisseur)"><a><em
                                                                                class="icon ni ni-trash"></em><span>Supprimer
                                                                            </span></a></li>
                                                                </ul>
                                                            </div>
                                                        </div>
                                                    </li>
                                                </ul>
                                            </div>
                                        </td>
                                    </tr>

                                </tbody>
                            </table>
                        </div>
                        <div class="pagination-container pagination">
                            <li> <pagination-controls [directionLinks]="true" [autoHide]="true"
                                    (pageChange)="p = $event" class="bg-primary"></pagination-controls></li>
                        </div>

                    </div>

                </div>
            </div>

        </div>

    </div>
</div>