<div class="card-inner card-inner-lg">
    <div class="nk-block-head nk-block-head-lg">
        <div class="nk-block-between">
            <div class="nk-block-head-content">
                <h4 class="nk-block-title">Activité de connexion</h4>
                <div class="nk-block-des">
                    <p>Vos dernieres activités de connexion<span class="text-soft"><em
                                class="icon ni ni-info"></em></span></p>
                </div>
            </div>
            <div class="nk-block-head-content align-self-start d-lg-none">
                <div href="#" class="toggle btn btn-icon btn-trigger mt-n1" data-toggle-body="true"
                    data-target="userAside"><em class="icon ni ni-menu-alt-r"></em></div>
            </div>
        </div>
    </div><!-- .nk-block-head -->
    <div class="card card-bordered card-preview">
        <div class="card-inner">
            <div id="DataTables_Table_0_wrapper" class="dataTables_wrapper dt-bootstrap4 no-footer">
                <div class="row justify-between g-2">
                    
                    <div class=" text-end">
                        <div class="datatable-filter">
                            <div class="d-flex justify-content-end g-2">
                                <div class="dataTables_length" id="DataTables_Table_0_length">
                                    <label>
                                        <span class="d-none d-sm-inline-block">Voir</span>
                                        <div class="form-control-select">
                                            <select name="DataTables_Table_0_length" aria-controls="DataTables_Table_0"
                                                class="custom-select custom-select-sm form-control form-control-sm" (change)="onChangeSize($event)">
                                                <option value="5">5</option>
                                                <option value="10">10</option>
                                                <option value="25">25</option>
                                                <option value="50">50</option>
                                            </select>
                                        </div>
                                    </label>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="datatable-wrap my-3">
                    <table class="table dataTable no-footer dtr-inline" id="DataTables_Table_0">
                        <thead>
                            <tr>
                                <th aria-controls="DataTables_Table_0" >
                                    #</th>
                                <th aria-controls="DataTables_Table_0" class="w-350px">Details</th>
                                <th aria-controls="DataTables_Table_0" class="w-150px">Date</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr
                                        *ngFor="let item of dataActivite | paginate: { id: 'item', itemsPerPage: pageSize, currentPage: page+1, totalItems: collectionSize } ; let i=index ">
                                <td class="odd">
                                    <a><span>{{i+1}}</span></a>
                                </td>
                                <td class="even">
                                    <span class="title w-350px">{{item.details}}</span>
                                </td>
                                <td class="odd">
                                    <span class="title w-150px">{{item.date | date:'dd-MM-yyyy HH:mm'}}</span>
                                </td>
                                
                            </tr>
    
    
                        </tbody>
    
                    </table>
    
                </div>
                <div class="pagination-container pagination">
                    <li> <pagination-controls [directionLinks]="true" id="item" [autoHide]="true" (pageChange)="onPageChange($event)"
                            class="bg-primary"></pagination-controls></li>
                </div>
               
                <!-- pagination -->
            </div>
        </div>
    </div><!-- .nk-block-head -->
</div><!-- .card-inner -->